<main>
  <h3>Main</h3>
  <section class="lists">
    <p>
      For the main content of this app I decided to go with a list of things I
      achieved by doing this:
    </p>
    <ul>
      <li>
        Remember how to create components on my own and using the command-line
      </li>
      <li>
        Remember the difference between: template and templateUrl, and styles
        and styleUrls
      </li>
      <li>
        Learned that the selector doesn't require the tag symbols wrapped around
        the name
      </li>
      <li>
        Learn that the selector needs "app-" in front of the selector name
      </li>
    </ul>
  </section>
</main>
